<h1>Метод Ньютона – Рафсона</h1>
<%= form_tag(:laba8_view, :method => "get") do %>
  <%= label_tag("Введите значения для вычисления квадратного корня :") %>
  <%= text_field_tag(:v1) %> <br/>
  <br/>
  <%= submit_tag "Send"%>
<% end %>
<br>
<%= button_to 'Logout',session_logout_path,method:"get"%>